body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color: #232323;
    background: url("img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/*.centered-form{
    margin-top: 60px;

}
*/
.reg-modal .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    position: relative;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.app-modal-window .modal-content {
    all: initial;
    *{
    all: unset;
    }
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
    word-wrap: break-word; }

input, textarea {
    font-family: "Raleway"; }

.display-1 {
    font-size: 4.39rem;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 0.2843em;
    margin-top: 3.9rem; }

.az-section-title {
    font-size: 7.125rem !important; }

.az-section-lead {
    font-family: Lora;
    font-size: 2.5rem !important;
    font-style: italic;
    margin-top: -1em;
    text-align: justify;}


.az-table-cell {
    display: table-cell;
    float: none;
    padding-bottom: 0;
    padding-top: 180px;
    padding-left: 305px;
    position: relative;
    vertical-align: middle; }

.az-section-btn .btn {
    font-size: 1.75rem !important;
    line-height: 1.5;
    padding: 0.75rem 2.1875rem;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-primary-outline {
    background: none;
    border-color: #040404;
    color: #040404; }
.btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active {
    color: #fff;
    background-color: #040404;
    border-color: #040404; }
.btn-primary-outline:hover {
    color: #fff;
    background-color: #040404;
    border-color: #040404; }
.btn-primary-outline.disabled, .btn-primary-outline:disabled {
    color: #fff !important;
    background-color: #040404 !important;
    border-color: #040404 !important;
    opacity: 0.85; }
.wrapper {
    height: 100%;
    width: 100%;
}

p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}



/*#mainNav {
    font-family: Raleway;
    font-size: 1.75rem ;
    font-weight: bold;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);}*/

nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/*.navbar-inverse {
    background-color: rgba(118, 248, 208, 0.02);
    border-color: rgba(255, 255, 255, 0);
}*/

nav.navbar.transparent {
    background-color: rgb(0, 0, 0);
    opacity: 0;
}




.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}


/*------------------------*****-------------------------*/
.boxedleft {
    border-radius: 25px;
    float: left;
    width: 300px;
    border: 5px solid #000;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.boxedright {
    border-radius: 25px;
    float: right;
    width: 300px;
    border: 5px solid #000;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.boxedcenter {
    float: center;
    width: 900px;
    border: 200px black;
    padding: 5px;
    margin: 50px;
    text-align: center;
}
.textleft{
    text-align: left;
    font-size: 200%;
    border-radius: 25px;
    border: 5px;
    padding: 20px;
    width: 600px;
    height: 150px;
}
.textright{
    text-align: right;
    font-size: 200%;
}
.textcenter{
    text-align: center;
}
#circular{
    border-radius: 50%;
    background: #73AD21;
    text-align: center;
    width: 200px;
    height: 200px;
}
.floatleft0{
    left:0px;
}
.floatleft400{
    left:400px;
}
.floatleft800{
    left:800px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #000
}
#rcorners2 {
    border-radius: 25px;
    border: 5px solid #000;
    padding: 20px;
    width: 200px;
    height: 250px;
}
.iLB {
    display: inline-block;
    margin: 55px;
}
.iLBlinks {
    display: inline-block;
    margin: 120px;
}
.leftfloat{
    float: left;
}
.rightfloat{
    float: right;
}
.centerfloat{

}
.parent {
    text-align: justify;
    margin: 25px;
}

.parent:after {
    content: " ";
    display: inline-block;
    width: 100%;
}

.parent div {
    display: inline-block;
    border: 10px solid;
    margin: 5px;
    width: 225px;
}
