<div class="container">
    <div class="row">
        <br>
        <br>
        <div class="az-section col-md-10 col-md-offset-1 text-xs-center">

            <h1 class="textcenter"><font size="35">"Live Better" ?</font></h1>
            <br>
            <br>
            <div>
                <p>
                <h1 class="boxedleft">News</h1>
                <p class="textright">We all love receiving news about our outside world.</p>
                </p>
            </div>
            <br>
            <br>
            <div>
                <h1 class="boxedright">News</h1>
                <p class="textleft">What about receiving news from inside your body.</p>
            </div>
            <br>
            <br>
            <div>
                <h1 class="boxedcenter">Yes, we are step closer in helping mankind spend energy wiser</h1>
            </div>
            <br>
            <br>
            <div>
                <p>
                <h1 class="boxedleft">News</h1>
                <p class="textright">Interesting right? But there is more.</p>
                </p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div>
                <h1 class="boxedcenter">We focus on the 3 essentials of human life.</h1>
            </div>
            <div class="iLB leftfloat">
                <h1 class="circle">Body</h1>
                <p id="rcorners2">Just like any machine, proactive care helps better functioning by 32%</p>
            </div>

            <div class="iLB centerfloat">
                <h1 class="circle">Mind</h1>
                <p id="rcorners2">A child playing 8 hrs is never as tired as a parent sitting at a desk for 4 hrs.</p>
            </div>

            <div class="iLB rightfloat">
                <h1 class="circle">The Fuel</h1>
                <p id="rcorners2">Two people eating same food react differrently, even wondered how your DNA affect it.</p>
            </div>

            <div class="az-section-btn">
                <a class="btn btn-lg btn-primary-outline btn-primary iLBlinks" ng-click="googleLogin()">SIGN IN VIA GOOGLE</a>

                <a class="btn btn-lg btn-primary-outline btn-primary iLBlinks" ng-click="fbLogin()">SIGN IN VIA FACEBOOK</a>

            </div>

        </div>
    </div>
</div>