<section>
<div class="az-table-cell">

    <div class="container">
        <div class="row">
            <div class="az-section col-md-10 col-md-offset-1 text-xs-center">

                <h1 class="az-section-title display-1">Want to "LIVE" better ?</h1>
                <p class="az-section-lead lead text-justify">We at Azaleea believe healthcare should be a pro active culture,<br>that should be a part of life and we would like to make<br>that happen...</p>
                <div class="az-section-btn">
                    <a class="btn btn-lg btn-primary-outline btn-primary " ng-click="googleLogin()">SIGN IN VIA GOOGLE</a>

                    <a class="btn btn-lg btn-primary-outline btn-primary " ng-click="fbLogin()">SIGN IN VIA FACEBOOK</a>

                </div>
            </div>
        </div>
    </div>
</div>
</section>







